################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CrmPackage/bin/Debug
/CrmPackage/obj/Debug
/CrmPackage
/packages
/Plugins/bin/Debug
/Plugins
/RRDemo.Plugins/bin/Debug
/RRDemo.Plugins/obj
/RRDemo.Plugins/bin/Release
